@tailwind base;
@tailwind components;
@tailwind utilities;
.loader {
  border-top-color: rgba(229, 231, 235, var(--tw-border-opacity));
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}
.productCard {
  height: 360px;
  overflow: hidden;
  white-space: break-spaces;
}
.productCard .image {
  height: 140px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgb(95, 94, 94);
  background-blend-mode: normal;
}
.productCard .image:hover {
  background-blend-mode: hard-light;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.3 0.6;
  transform: scale(1.05);
}

.productCard p {
  height: 80px;
  overflow: hidden;
}
.productCard span {
  width: fit-content;
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: rotate(360deg);
    opacity: 0.8;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
    opacity: 0.3;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.8;
  }
}
